li {
    padding: 5px;
    margin: 5px;
    list-style-type: none;

  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 10px 0px 10px 40%
  }
  
  .form-group {
    margin-bottom: 5px;
    opacity: 0.9;
  }

body {
      background-image:url("../img/background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: whitesmoke !important;
  }

  .burgerArea {
      display:grid;
      grid-template-columns: repeat(5, 1fr);
  }